@media (min-width: 768px) {
  
    nav ul {
      display: flex !important;
      justify-content: space-around;
    }
  
    button#menu {
      display: none;
    }
  
    main {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  